.contact-form{
    padding: 2vh;
}
.social-icon{
    background-color: #f17338;
    padding: 2vh;
    color: white;
    margin: 3vh;
    box-shadow: 2px 2px 10px 0px black;
}
input.ng-invalid.ng-touched{
    border: solid 1px rgb(247, 67, 67);
}
.invaild-warning{
    color: red;
}
.form-group{
    padding: 2vh;
    // width: 50vw;
}
.message-form{
    height: 15vh;
}
.submit-btn{
    margin: 1rem;
    margin-left: 5rem;
    box-shadow: 2px 2px 10px 3px black;
    border-radius: 0px;
}
.form-control{
    border-radius: 0px;
    box-shadow: 0px 0px 10px 0px grey;
}