<div class="contact-page" id="contact">
    <!-- <img class="slide_bg" src="assets/skillsBg.jpg" alt=""> -->
   <div class="slide_bg" [ngClass]="{'dark-bg' : darkMode}"></div>
    
    <div class="slide_content">

      <h1 class="heading_font_style pos_sticky" data-aos="fade-up">Contact</h1>

      <p class="text_color" data-aos="fade-up"> Good communication begins with connection
      </p>

      <div data-aos="fade-right" class="blank_line_blue pos_sticky_line">
        <hr>
      </div>
   
      <form class="contact-form" (ngSubmit)="onSubmit()" #f = "ngForm">
        <div class="form-group" data-aos="fade-up">
          <input 
          type="text" 
          class="form-control"
          [ngClass]="{'dark-background' : darkMode}"
          id="name" 
          ngModel 
          name="name" 
          placeholder="Name"
          required
          #name="ngModel"
          >
          <p class="invaild-warning" *ngIf="!name.valid && name.touched">Please enter a name!</p>
        </div>
        <div class="form-group" data-aos="fade-up">
          <input 
          type="number" 
          class="form-control"
          [ngClass]="{'dark-background' : darkMode}" 
          id="contact" 
          ngModel 
          name="contact" 
          placeholder="Contact No."
          >
        </div>
        <div class="form-group">
          <input 
          type="text" 
          class="form-control" 
          [ngClass]="{'dark-background' : darkMode}"
          id="email" 
          ngModel 
          name="email" 
          placeholder="E-mail"
          required
          email
          #email="ngModel"
          >
          <p class="invaild-warning" *ngIf="!email.valid && email.touched">Please enter an e-mail!</p>
        </div>
        <div class="form-group" data-aos="fade-up">
          <input 
          type="text" 
          class="form-control message-form" 
          [ngClass]="{'dark-background' : darkMode}"
          id="message" 
          ngModel 
          name="message" 
          placeholder="Message"
          required
          #message = "ngModel"
          >
          <p class="invaild-warning" *ngIf="!message.valid && message.touched">Please enter a Message!</p>
        </div>
        <button 
          type="submit" 
          class="btn btn-primary submit-btn"
          [disabled]="!this.contForm?.valid"
          data-aos="fade-up"
          >
          Submit
        </button>
        <p class="invaild-warning" data-aos="fade-down" *ngIf="!this.contForm?.valid && this.contForm?.touched">Please enter all the details to Submit!</p>
      </form>
  
      <div class="social-links">
        <span><a href="https://www.facebook.com/jaikumar1240"><i class="social-icon fa-brands fa-facebook-f" [ngClass]="{'social-icon-dark' : darkMode}" data-aos="fade-up" data-aos-duration="700"></i></a></span>
        <span><a href="https://www.linkedin.com/in/jaikumar1240"><i class="social-icon fa fa-linkedin" [ngClass]="{'social-icon-dark' : darkMode}" data-aos="fade-up" data-aos-duration="1000"></i></a></span>
        <span><a href="mailto:{{'jaikumar1240@gmail.com'}}"><i class="social-icon fa fa-google" [ngClass]="{'social-icon-dark' : darkMode}" data-aos="fade-up" data-aos-duration="1300"></i></a></span>
        <span><a href="https://www.instagram.com/_jairajput_/"><i class="social-icon fa fa-instagram" [ngClass]="{'social-icon-dark' : darkMode}" data-aos="fade-up" data-aos-duration="1600"></i></a></span>
     </div>
     <!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="jai-kumar-960a18194" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/jai-kumar-960a18194?trk=profile-badge">Jai Kumar</a></div> -->
     <!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="jai-kumar-960a18194" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/jai-kumar-960a18194?trk=profile-badge">Jai Kumar</a></div> -->
              
    </div>
  </div>