<div>
    <img class="landing_img" src="assets/homeBg.jpg" alt="">
  
  <div class="landing_content" id="home">
    <div data-aos="zoom-in" data-aos-duration="1500">
      <h1 class="landing_content_text">Jai Kumar</h1>
    </div>
    <div data-aos="zoom-in" data-aos-duration="1500" class="blank_line pos_sticky_line">
      <hr data-aos="fade-up">
    </div>
    <div data-aos="zoom-in" data-aos-duration="1500"class="pos_sticky">
      <h1 class="heading_font_style">Interactive Resume</h1>
    </div>
    <div class="arrow_down" data-aos="fade-up" data-aos-duration="1000">
      <i class="fa-2x fa-solid fa-chevron-down" (click)="scroll('profile')"></i>
    </div>
  </div>
</div>