<div>
    <div class="context">
      <!-- <div class="landing_content" id="home">
        <div data-aos="zoom-in" data-aos-duration="1500">
          <h1 class="landing_content_text">Jai Kumar</h1>
        </div>
        <div data-aos="zoom-in" data-aos-duration="1500" class="blank_line pos_sticky_line">
          <hr data-aos="fade-up">
        </div>
        <div data-aos="zoom-in" data-aos-duration="1500"class="pos_sticky">
          <h1 class="heading_font_style">Interactive Resume</h1>
        </div>
        <div class="arrow_down" data-aos="fade-up" data-aos-duration="1000">
          <i class="fa-2x fa-solid fa-chevron-down" (click)="scroll('profile')"></i>
        </div>
      </div> -->
      <div class="container">
        <h1 data-aos="zoom-in" data-aos-duration="1500">Jai Kumar</h1>
        <hr data-aos="fade-up" class="blank_line">
        <h2 class=""data-aos="zoom-in" data-aos-duration="2000">Interactive Resume</h2>
        <i class="fa-2x fa-solid fa-chevron-down arrow_down" data-aos="fade-up" data-aos-duration="2500" (click)="scroll('profile')"></i>
      </div>
    </div>
  <div class="area" >
          <ul class="circles">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
          </ul>
  </div >
</div>