<div class="main_body">
  <img class="landing_img" src="assets/homeBg.jpg" alt="">
  
  <div class="landing_content" id="home">
    <div data-aos="zoom-in" data-aos-duration="1500">
      <h1 class="landing_content_text">Jai Kumar</h1>
    </div>
    <div data-aos="zoom-in" data-aos-duration="1500" class="blank_line pos_sticky_line">
      <hr data-aos="fade-up">
    </div>
    <div data-aos="zoom-in" data-aos-duration="1500"class="pos_sticky">
      <h1 class="heading_font_style">Interactive Resume</h1>
    </div>
    <div class="arrow_down" data-aos="fade-up" data-aos-duration="1000">
      <i class="fa-2x fa-solid fa-chevron-down" (click)="scroll('profile')"></i>
    </div>
  </div>

  
  <div id="profile">
    <img class="slide_bg" src="assets/profileBg.png" alt="">
   
    
    <div class="slide_content">
      <h1 data-aos="fade-up" class="heading_font_style pos_sticky">Profile</h1>

      <p data-aos="fade-up" class="text_color">I am a Front-End Web Developer</p>

      <div  data-aos="fade-right" class="blank_line_blue pos_sticky_line">
        <hr>
      </div>

      <div class="profile_content row">
        
       <div class="content_center col col-xl-4 col-md-6 col-sm-12">
         <img class="profile_img" data-aos="flip-right" src="assets/MyPhoto.jpg" alt="image">
       </div>
       <div class="col col-xl-4 col-md-6 col-sm-12">
         <div data-aos="fade-up" class="subheading_font_style">
           Details
         </div>
         <div class="detailed_text" data-aos="fade-up" >
           fjkahoiashdfnaevhe aerivhearjnkfaerhv aoierhvqjenaksrvhud aeoirfjvwoivrjdaweirv aeoirhvfjaiervjdeoiv aviajwekrvaioesdk auweqhwavhuqejlkvdqhc uiaehsrjvdquiwaehvcnwsdc chndaiwuksdcjhq iuwaerfchq auhcdauisdkcj
         </div>
       </div>
    
      </div>
    </div>
  </div>
  
  <div id="experience">
    <img class="slide_bg" src="assets/skillsBg.jpg" alt="">

    <div  class="slide_content">
      <h1 class="heading_font_style pos_sticky" data-aos="fade-up">Experience</h1>

      <p class="text_color" data-aos="fade-up">The only source of knowledge is experience  
        - Albert Einstein
      </p>

      <div data-aos="fade-right" class="blank_line_blue pos_sticky_line">
        <hr>
      </div>
      
      <div class="subheading_font_style" data-aos="fade-up">
        Carrers
      </div>

      <div class="detailed_text container">
        <div class="row">
          <div class="col" data-aos="fade-up">Pristyn Care </div>
          <div class="col" data-aos="fade-up"><b>Front-End Web Developer</b></div>
          <div class="col" data-aos="fade-up">(Sept 2021 - Currently working)</div>
        </div>
        <hr data-aos="fade-right" class="line_margin">
        <div class="row">
          <div class="col" data-aos="fade-up">Pepcoding</div>
          <div class="col" data-aos="fade-up"><b>Java/Web Developer Intern</b></div>
          <div class="col" data-aos="fade-up">(Feb 2020 - Aug 2020)</div>
        </div>
        <hr data-aos="fade-right" class="line_margin">
        <div class="row">
          <div class="col" data-aos="fade-up">Tata Power </div>
          <div class="col" data-aos="fade-up"><b>Intern</b></div>
          <div class="col" data-aos="fade-up">(June 2019 - Aug 2019)</div>
        </div>

        <hr data-aos="fade-right" class="line_margin">
      </div>

      <div class="subheading_font_style" data-aos="fade-up">
        Educations
      </div>

      <div class="detailed_text container">
        <div class="row">
          <div class="col"  data-aos="fade-up">Bhagwan Parshuram Institute of Technology</div>
          <div class="col"  data-aos="fade-up"><b>B. Tech</b> Marks - 72%</div>
          <div class="col"  data-aos="fade-up">(2017 - 2021)</div>
        </div>
        <hr data-aos="fade-right" class="line_margin">
        <div class="row">
          <div class="col"  data-aos="fade-up">S.D. Public School</div>
          <div class="col"  data-aos="fade-up"><b>12th PCM</b> Marks - 73%</div>
          <div class="col"  data-aos="fade-up">(2015 - 2016)</div>
        </div>
        <hr data-aos="fade-right" class="line_margin">
        <div class="row">
          <div class="col"  data-aos="fade-up">Vaish Sr. Sec School</div>
          <div class="col"  data-aos="fade-up"><b>10th</b> Marks - 86%</div>
          <div class="col"  data-aos="fade-up">(2014 - 2015)</div>
        </div>
      </div>

    </div>
    
  </div>

  <div id="skills">
    <img class="slide_bg" src="assets/ExperienceBg.jpg" alt="">
    <div class="slide_content">
      <h1 class="heading_font_style pos_sticky" data-aos="fade-up">Skills</h1>

      <p class="text_color" data-aos="fade-up">I am Building my skills, not my resume
      </p>

      <div data-aos="fade-right" class="blank_line_blue pos_sticky_line">
        <hr>
      </div>
      
      <div class="container" *ngFor="let skill of skills">
        <label for="progressbar" data-aos="fade-up">{{skill.skillname}}</label>
        <div class="progress progress_bar" data-aos="fade-right">
          <div class="progress-bar"  role="progressbar" [ngStyle]="{'width': skill.skillvalue}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{skill.skillvalue}}</div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div id="contact">
    <img class="slide_bg" src="assets/skillsBg.jpg" alt="">
   
    
    <div class="slide_content">
      <div class="landing_content_text">
        Feel free to Contact Me !
      </div>
      <form action="submit">
        <div>
          <label for="name">Name</label>
          <input type="text" name="name" id="name">
        </div>
        <div>
          <label for="contact">Contact No.</label>
          <input type="text" name="contact" id="contact">
        </div>
        <div>
          <label for="email">E-mail</label>
          <input type="text" name="email" id="email">
        </div>
        <div>
          <label for="message">Message</label>
          <input type="text" name="message" id="message">
        </div>

      </form>
      <ul class="social-links">
        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="#"><i class="fa fa-skype"></i></a></li>
     </ul>
    </div>
  </div>
  <div class="navBar_pc" id = "navbar_pc" data-aos="fade-up" data-aos-duration="800" @myInsertRemoveTrigger *ngIf="showNavbar">
    <div class="fa-solid fa-arrow-up navBar_btn" (click)="scroll('home'); "></div>
    <div class="navBar_btn" [ngClass]="selectedBtn==='profile' ? 'selected_btn' : ''" (click)="scroll('profile'); ">Profile</div>
    <div class="navBar_btn" [ngClass]="selectedBtn==='experience' ? 'selected_btn' : ''" (click)="scroll('experience'); ">Experience</div>
    <div class="navBar_btn" [ngClass]="selectedBtn==='skills' ? 'selected_btn' : ''" (click)="scroll('skills'); ">Skills</div>
    <div class="navBar_btn" [ngClass]="selectedBtn==='contact' ? 'selected_btn' : ''" (click)="scroll('contact'); ">Contact</div>
  </div>
  <!-- <div id="navbar_phone">
    Phone Nav  
  </div> -->
</div>
