<div id="profile">
    <!-- <img class="slide_bg" src="assets/profileBg.png" alt=""> -->
   <div class="slide_bg" [ngClass]="{'dark-bg' : darkMode}"></div>
    
    <div class="slide_content">
      <h1 data-aos="fade-up" class="heading_font_style pos_sticky">Profile</h1>

      <p data-aos="fade-up" class="text_color">I am a Front-End Web Developer</p>

      <div  data-aos="fade-right" class="blank_line_blue pos_sticky_line">
        <hr>
      </div>

      <div class="profile_content row">
        
       <div class="content_center col col-xl-4 col-md-4 col-sm-12">
         <img class="profile_img" [ngClass]="{'dark-profile' : darkMode}" data-aos="flip-right" src="assets/MyPhoto.jpg" alt="image">
       </div>
       <div class="col-xl-6 col-md-8 col-sm-12">
         <div data-aos="fade-up" class="subheading_font_style">
           Details
         </div>
         <div class="detailed_text" [ngClass]="{'dark-content' : darkMode}" >
           <div data-aos="fade-up" class="profile-text">
             <strong>Name :</strong> Jai Kumar
           </div>
           <div data-aos="fade-up" class="profile-text">
             <strong>Contact No :</strong> 7827981994
           </div>
           <div data-aos="fade-up" class="profile-text">
             <strong>Email :</strong> jaikumar1240@gmail.com
           </div>
           <div data-aos="fade-up" class="profile-text">
             <strong>Address :</strong> Gurugram, Haryana 
           </div>
           <div data-aos="fade-up" class="profile-text">
             <strong>DOB :</strong> 30-06-1998
           </div>
         </div>
       </div>
    
      </div>
    </div>
    <!-- <div class="profile">
      <div class="container">
      </div>
    </div> -->
</div>