/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
    box-sizing: border-box;
    // background-image: linear-gradient(to bottom right, rgb(127, 127, 127), rgb(255, 255, 255));
    background-image: linear-gradient(rgb(255, 255, 255), rgb(199, 199, 199), rgb(255, 255, 255));
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.heading_font_style{
    font-family: 'Playfair Display', serif;
    backdrop-filter: blur(5px);
    z-index: 100;
    text-align: center;
    width: 100%;
}

.pos_sticky{
    position: sticky;
    top: 1vh;
}
.text_color{
    color: #f17338;
    font-size: larger;
    text-align: center;
    font-weight: 300;
}
.blank_line_blue{
    border-left: 30vw solid #69c3f3;
    height: 0.2vh;
}
.pos_sticky_line{
    position: sticky;
    top: 5vh;
}
.subheading_font_style{
    font-size: xx-large;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-align: center;
}
.detailed_text{
    color: black;
    text-align: center;
    transition: all 1s;
}
.slide_bg{
    position: absolute;
    width: 100%;
    transition: all 1s;
    height: 100vh;
}

.dark-bg{
  transition: all 1s;
  background-color: rgb(36, 36, 36);
}

.slide_content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #206c98;
    padding-top: 1vh;
    z-index: 1;
    height: 100vh;
    // font-family: system-ui;
}


$bar-color: #206c98;
$ball-color: #f17338;
$bg-color: #aa1128;

.loading{
    position: absolute;
    width: 100%;
    top: 40vh;
}
.text{
    margin: 0 auto;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}

.dark-content{
  color: white;
  transition: all 1s;
}

.loader {
    
  margin: 0 auto;
  position: relative;
  width: 75px;
  height: 100px;
  
  &__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: $bar-color;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    
    @for $i from 1 through 5 { 
       &:nth-child(#{$i}) {
         left: ($i - 1) * 15px;
         transform: scale(1,$i*.2);
         animation: barUp#{$i} 4s infinite;
        }
    }
    
  }
  
  &__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: $ball-color;
    border-radius: 50%;
    animation: ball 4s infinite;
  }
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px)
  }
  17% {
    transform: translate(23px, -24px)
  }
  20% {
    transform: translate(30px, -20px)
  }
  27% {
    transform: translate(38px, -34px)
  }
  30% {
    transform: translate(45px, -30px)
  }
  37% {
    transform: translate(53px, -44px)
  }
  40% {
    transform: translate(60px, -40px)
  }
  50% {
    transform: translate(60px, 0)
  }
  57% {
    transform: translate(53px, -14px)
  }
  60% {
    transform: translate(45px, -10px)
  }
  67% {
    transform: translate(37px, -24px)
  }
  70% {
    transform: translate(30px, -20px)
  }
  77% {
    transform: translate(22px, -34px)
  }
  80% {
    transform: translate(15px, -30px)
  }
  87% {
    transform: translate(7px, -44px)
  }
  90% {
    transform: translate(0, -40px)
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes barUp1 { 
  0% {
    transform: scale(1, .2);
  }
  40%{
    transform: scale(1, .2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(1,.2);
  }
}
@keyframes barUp2 { 
  0% {
    transform: scale(1, .4);
  }
  40% {
    transform: scale(1, .4);
  }
  50% {
    transform: scale(1, .8);
  }
  90% {
    transform: scale(1, .8);
  }
  100% {
    transform: scale(1, .4);
  }
}
@keyframes barUp3 { 
  0% {
    transform: scale(1, .6);
  }
  100% {
    transform: scale(1, .6);
  }
}
@keyframes barUp4 { 
  0% {
    transform: scale(1, .8);
  }
  40% {
    transform: scale(1, .8);
  }
  50% {
    transform: scale(1, .4);
  }
  90% {
    transform: scale(1, .4);
  }
  100% {
    transform: scale(1, .8);
  }
}
@keyframes barUp5 { 
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, .2);
  }
  90% {
    transform: scale(1, .2);
  }
  100% {
    transform: scale(1, 1);
  }
}