.nav-ph {
    position: fixed;
    top: 0;
    z-index: 10;
    color: white;
}
.nav-btn{
    // background-color: #206c98;
    padding: 10px 17px;
    position: fixed;
    width: 100%;
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    // transition: all 1s;

}
.dark-nav{
    // background-color: rgb(156, 102, 69);
    // color: white;
    // transition: all 1s;
}
.dark-nav-btns{
    color: white !important;
    // background-color: rgb(95, 69, 53)!important;
    // transition: all 1s;
}
.nav-btns{
    position: fixed;
    top: 3rem;
    text-align: center;
    // background-color: #3ba8ec;
    margin: 0 auto;
    width: 100%;
    transition: all 1s;
    backdrop-filter: blur(10px) grayscale(50%);
    color: black;
    padding-bottom: 2rem;
}
.navBar_btn{
    padding: 1rem;
    cursor: pointer;
}
.selected_btn{
    // background-color: tan;
    font-weight: 900;
}
.social-icon{
    // background-color: #f17338;
    padding: 2vh;
    color: #a9a9a9;
    margin: 3vh;
    box-shadow: 0px 0px 5px 2px;
}
.resume-anchor{
    text-decoration: none;
    color: #434343;
    box-shadow: 1px 1px 5px 2px darkgray;
    padding: 0.8rem;
    font-weight: bold;
    transition: all 1s;
}
@media screen and (min-width: 1000px) {
    #navbar_phn { display: none; };   /* hide it elsewhere */
  }