@media screen and (max-width: 576px) {
    .line_margin{
        margin: 1vh;
    }
}
@media screen and (min-width: 576px) {
    .exp-text{
        font-size: x-large;
        padding: 1vh;
    }
}  
.anchor-class{
    text-decoration: none;
    color: black;
    transition: all 1s;
    :hover{
        // background-color: green;
        box-shadow: 0px 0px 5px 1px;
    }
}
.detailed_text{
    padding-top: 1rem;
}