<div id="experience">
    <img class="slide_bg" src="assets/skillsBg.jpg" alt="">

    <div  class="slide_content">
      <h1 class="heading_font_style pos_sticky" data-aos="fade-up">Experience</h1>

      <p class="text_color" data-aos="fade-up">The only source of knowledge is experience  
        - Albert Einstein
      </p>

      <div data-aos="fade-right" class="blank_line_blue pos_sticky_line">
        <hr>
      </div>
      
      <div class="subheading_font_style" data-aos="fade-up">
        Carrers
      </div>

      <div class="detailed_text container">
        <div class="row">
          <div class="col exp-text" data-aos="fade-up">Pristyn Care </div>
          <div class="col exp-text" data-aos="fade-up"><b>Front-End Web Developer</b></div>
          <div class="col exp-text" data-aos="fade-up">(Sept 2021 - Currently working)</div>
        </div>
        <hr data-aos="fade-right" class="line_margin">
        <div class="row">
          <div class="col exp-text" data-aos="fade-up">Pepcoding</div>
          <div class="col exp-text" data-aos="fade-up"><b>Java/Web Developer Intern</b></div>
          <div class="col exp-text" data-aos="fade-up">(Feb 2020 - Aug 2020)</div>
        </div>
        <hr data-aos="fade-right" class="line_margin">
        <div class="row">
          <div class="col exp-text" data-aos="fade-up">Tata Power </div>
          <div class="col exp-text" data-aos="fade-up"><b>Intern</b></div>
          <div class="col exp-text" data-aos="fade-up">(June 2019 - Aug 2019)</div>
        </div>

        <hr data-aos="fade-right" class="line_margin">
      </div>

      <div class="subheading_font_style" data-aos="fade-up">
        Educations
      </div>

      <div class="detailed_text container">
        <div class="row">
          <div class="col exp-text"  data-aos="fade-up">Bhagwan Parshuram Institute of Technology</div>
          <div class="col exp-text"  data-aos="fade-up"><b>B. Tech</b> Marks - 72%</div>
          <div class="col exp-text"  data-aos="fade-up">(2017 - 2021)</div>
        </div>
        <hr data-aos="fade-right" class="line_margin">
        <div class="row">
          <div class="col exp-text"  data-aos="fade-up">S.D. Public School</div>
          <div class="col exp-text"  data-aos="fade-up"><b>12th PCM</b> Marks - 73%</div>
          <div class="col exp-text"  data-aos="fade-up">(2015 - 2016)</div>
        </div>
        <hr data-aos="fade-right" class="line_margin">
        <div class="row">
          <div class="col exp-text"  data-aos="fade-up">Vaish Sr. Sec School</div>
          <div class="col exp-text"  data-aos="fade-up"><b>10th</b> Marks - 86%</div>
          <div class="col exp-text"  data-aos="fade-up">(2014 - 2015)</div>
        </div>
      </div>

    </div>
    
  </div>